h3.title {
    font-family: 'Calibri';
    font-size: 21px;
    font-weight: 300;
    vertical-align: top;
    color: white;
    margin-left: 25px;
    top: 35px;
    position: absolute;
}
.container-top {
    width: 90%;
    background-color: #161718;
    box-shadow: 1px 1px 4px 2px #0f0f0f;
    height: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 5%;
    margin-top: 40px;
    border-radius: 15px;
    margin-bottom: 35px;
}
.container-middle{
    width: 90%;
    background-color: transparent;
    margin-top: 30px;
    height: auto;
    margin-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: whitesmoke;
}
.container-bottom {
    width: 90%;
    background-color: #111313;
    height: 20px;
    margin-left: 5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.options {
    float: right;
    font-family: 'Calibri';
    font-size: 18px;
    font-weight: 100;
    color: white;
    margin-right: 30px;
    border: 1px solid white;
    padding: 3px;
    border-radius: 7px;
}
.options:hover {
    background-color: crimson;
    cursor: pointer;
}
#no-itens {
    padding-top: 60px;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    color: #b5b5b5;
}
.vertical {
    display: inline;
}
.header-formulario {
  width: 100%;
  color: #fff;
  font-family: "Calibri";
  font-weight: 100;
  font-size: 22px;
  text-align: center;
  display: inline-flex;
  margin-bottom:20px;
}
.header-formulario .title {
  margin-left: 30%;
}
.container-formulario {
  width: 40%;
  height: auto;
  border-radius: 7px;
  margin: auto;
  margin-top: 70px;
  padding-bottom: 50px;
  background-color: #17191a;
  justify-content: center;
  display: flex;
  box-shadow: 1px 4px 7px 1px #090909;
}
input.input {
  margin-top: 15px;
  height: 20px;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px;
  border-style: solid;
  border-color: #8c8c8c;
  font-family: "Arial";
  font-weight: 100;
  color: white;
}
.input:hover {
  border-color: #6a6a6a;
}
input.submit {
  margin-top: 20px;
  width: 100%;
  background-color: crimson;
  font-family: "Arial";
  padding-top: 7px;
  padding-bottom: 7px
  font-weight: 100;
  color: white;
}
.submit:hover {
  background-color: #ae1836;
  color: #D5D5D5;
  cursor: pointer;
}
.campos {
  margin-top: 15px;
  width: 70%;
  display: inline-block;
}
.info {
  display: block;
  width: 100%;
  height: auto;
  font-family: "Calibri";
  text-align: left;
}
.info .title{
  color: crimson;
  font-size: 14px;
}
.info .separetor{
  width: 100%;
  height: 12px;
}
.info .content {
  color: whitesmoke;
  font-size: 18px;
}
img.icon {
  height: 17px;
  width: 17px;
  margin-left: 35%;
}
