body {
	margin: 0;
	background-color: #1D1F20;
}
a {
    text-decoration: none;
}

/*Menu Lateral*/
.menu {
	background-color: #111313;
	height: 100%;
	width: 80px;
    transition-duration: 0.3s;
    z-index: -1;
    position: fixed;
    user-select: none;
}
/*Menu Lateral Aberto*/
.menu-open {
	width: 300px;
	transition-duration: 0.3s;
	box-shadow: 0px 0px 2px 0px black;
    position: absolute;
    z-index: -1;
    user-select: none;
}
/*Box do conteúdo do menu*/
.menu-content {
	display: block;
	position: absolute;
	margin-top: 60px;
}
/*Icone da opção do menu (três pontinhos)*/
.menu-icon {
	background-image: url('../imagens/icons/menu.png');
	background-repeat: no-repeat;
	position: fixed;
	background-size: 35px;
	margin-left: 20px;
	margin-top: 10px;
	background-clip: content-box;
	width: 35px;
	height: 35px;
	z-index: 999;
	transform: rotate(90deg);
	transition-duration: 0.3s;
	cursor: pointer;
}
/*Opções do menu*/
.menu-option {
	color: white;
    position: absolute;
    margin-left: 120px;
    font-size: 18;
    margin-top: 0px;
    font-family: 'calibri';
    font-weight: 100;
    display: none;
}
/*Lista*/
.navBar {
	color: white;
	font-family: "calibri";
	width: 0px;
	height: 25px;
	text-align: center;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
/*Lista aberta/carregada*/
.navBar-open {
	color: white;
	font-family: "calibri";
	width: 300px;
	height: 25px;
	text-align: center;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
/*Hover da lista*/
li:hover{
  transition-duration: .3s;
	background-color: crimson;
	cursor: pointer;
}
/*Efeito da rotação do menu icon*/
.menu-icon-rotated {
	transform: rotate(0);
	transition-duration: 0.3s;
	cursor: pointer;
}
/*Icones das opções do menu*/
.menu-ico {
	height: 30px;
	width: 30px;
	float: left;
	margin-top: -3px;
	margin-left: 20px;
}

.button-style1 {
	right: 15; 
	margin-top: 15px; 
	position: absolute; 
	color: white; 
    font-family: 'Calibri';
    font-weight: 100; 
	cursor: pointer;
	text-decoration: none;
	border: 1px solid white;
	padding: 6px;
    border-radius: 8px;
    z-index: 99;
}
.button-style1:hover {
	color: #8C8C8C;
	border-color: #8C8C8C;
}
.body-content {
    margin: auto;
    margin-left: 80px;
    display: flex;  
    position: absolute;
    height: 100%;
    width: calc(100% - 80px);
    z-index: -2;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .previous-button {
    background-image: url("../imagens/icons/previous.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 33px;
    height: 33px;
    margin-top: 23px;
    margin-left: 8px;
    position: fixed;  
    cursor: pointer;
  }
  .previous-button:hover {
    color: #8C8C8C;
    border-color: #8C8C8C;
    opacity: .5;
  }