
.home-content {
    margin: auto;
    margin-left: 80px;
    display: flex;  
    position: absolute;
    height: 100%;
    width: calc(100% - 80px);
    z-index: -2;
}
.home-menu-quickacess {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100;
    width: 85%;
    height: 160px;
    border-radius: 20px;
  }
/*
  .quadro{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
*/

.home-menu-quickacess .card{
display: inline-flex;
margin-right: 5px;
margin-bottom: 5px;
}

.home-menu-quickacess .card .card{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.home-menu-quickacess .card .card.card1{
    position: relative;
    background: #15181a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: none;
    cursor: pointer;
}
.home-menu-quickacess .card .card.card.card1:hover {
    background: crimson;
}
.home-menu-quickacess .card .card.card1 .content img{
    max-width: 90px;
}

.home-menu-quickacess .card .card.card1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-family: "Calibri";
    font-weight: 100;
}

.home-menu-quickacess .card .card{
    width: 240px;
    height: 150px;
    transition: 0.5s;
    border-radius: 10px;
}


.home-menu-quickacess .card .card .content p{
    margin: 0;
    padding: 0;
}

.home-menu-quickacess .card .card .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.home-menu-quickacess .card .card .content a:hover{
    background: #333;
    color: #fff;
}

.box-alert {
    width: 80%;
    top: 20px;
    left: 6%;
    background-color: #141515;
    border-radius: 7px;
    color: rgb(164, 164, 164);
    text-align: center;
    padding: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    position: absolute;
    display: none;
    border: 1px solid crimson;
}