@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  display: flex;
  background:#1D1F20;
}
#content-box {
  display: flex;
  margin: auto;
  max-width: 80%;
  min-width: 32%;
  height: auto;
}

.login {
  max-width: 80%;
  min-width: 32%;
  font-size: 16px;
  margin-top: 10%;
  font-family: 'Raleway';
  position: absolute;
}

.login-pesquisa,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-pesquisa {
  background: #e85c0a;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-header {
  padding: 12px;
  font-family: "Calibri";
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 34px;
}
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  outline: 0;
  font-size: 0.95em;
  font-family: calibri;
  font-weight: 100;
}

.login input[type="text"],
.login input[type="password"] {
  background: transparent;
  border-bottom: 2px solid white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  color: white;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background-color: transparent;
  border-color: white;
  color: #fff;
  border-radius: 6px;
}

.login input[type="submit"]:hover {
  background: #18191a;
  cursor: pointer

}

.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.previous-button {
  background-image: url("../imagens/icons/previous.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 33px;
  height: 33px;
  margin-top: 15px;
  position: fixed;
  cursor: pointer;
}
.previous-button:hover {
  color: #8C8C8C;
  border-color: #8C8C8C;
  opacity: .5;
}
.error-msg {
  width: 100%;
  text-align: center;
  color: #f33;
  font-family: "Calibri";
}
input.checkbox {
  border: 0px;
}
